{% extends "base.html" %}

{% block main %}

<table>
    <tr>
        <th>貸方勘定科目</th>
        <th>貸方補助科目</th>
        <th>貸方消費税区分</th>
        <th>貸方計上部門</th>
    </tr>
    <tr>
        <td><input type="text" name="credit-account"></td>
        <td><input type="text" name="credit-sub-account"></td>
        <td><input type="text" name="credit-consumptiontax"></td>
        <td><input type="text" name="credit-department"></td>
    </tr>
</table>
<table>
    <tr>
        <th>貸方金額</th>
        <th>貸方取引先</th>
    </tr>
    <tr>
        <td><input type="text" name="credit-amount"></td>
        <td><input type="text" name="credit-company"></td>
    </tr>
</table>
<hr>
<table>
    <tr>
        <th>貸方勘定科目</th>
        <th>貸方補助科目</th>
        <th>貸方消費税区分</th>
        <th>貸方計上部門</th>
    </tr>
    <tr>
        <td><input type="text" name="credit-account"></td>
        <td><input type="text" name="credit-sub-account"></td>
        <td><input type="text" name="credit-consumptiontax"></td>
        <td><input type="text" name="credit-department"></td>
    </tr>
</table>
<table>
    <tr>
        <th>貸方金額</th>
        <th>貸方取引先</th>
    </tr>
    <tr>
        <td><input type="text" name="credit-amount"></td>
        <td><input type="text" name="credit-company"></td>
    </tr>
</table>
<hr>
<table>
    <tr>
        <th>貸方勘定科目</th>
        <th>貸方補助科目</th>
        <th>貸方消費税区分</th>
        <th>貸方計上部門</th>
    </tr>
    <tr>
        <td><input type="text" name="credit-account"></td>
        <td><input type="text" name="credit-sub-account"></td>
        <td><input type="text" name="credit-consumptiontax"></td>
        <td><input type="text" name="credit-department"></td>
    </tr>
</table>
<table>
    <tr>
        <th>貸方金額</th>
        <th>貸方取引先</th>
    </tr>
    <tr>
        <td><input type="text" name="credit-amount"></td>
        <td><input type="text" name="credit-company"></td>
    </tr>
</table>

{% endblock %}
