{% extends "base.html" %}

{% block main %}
<table>
    <tr>
        <th>借方勘定科目</th>
        <th>借方補助科目</th>
        <th>借方消費税区分</th>
        <th>借方計上部門</th>
    </tr>
    <tr>
        <td><input type="text" name="debit-account"></td>
        <td><input type="text" name="debit-sub-account"></td>
        <td><input type="text" name="debit-consumptiontax"></td>
        <td><input type="text" name="debit-department"></td>
    </tr>
</table>
<table>
    <tr>
        <th>借方金額</th>
        <th>借方取引先</th>
    </tr>
    <tr>
        <td><input type="text" name="debit-amount"></td>
        <td><input type="text" name="debit-company"></td>
    </tr>
</table>
<hr>
<table>
    <tr>
        <th>借方勘定科目</th>
        <th>借方補助科目</th>
        <th>借方消費税区分</th>
        <th>借方計上部門</th>
    </tr>
    <tr>
        <td><input type="text" name="debit-account"></td>
        <td><input type="text" name="debit-sub-account"></td>
        <td><input type="text" name="debit-consumptiontax"></td>
        <td><input type="text" name="debit-department"></td>
    </tr>
</table>
<table>
    <tr>
        <th>借方金額</th>
        <th>借方取引先</th>
    </tr>
    <tr>
        <td><input type="text" name="debit-amount"></td>
        <td><input type="text" name="debit-company"></td>
    </tr>
</table>
<hr>
<table>
    <tr>
        <th>借方勘定科目</th>
        <th>借方補助科目</th>
        <th>借方消費税区分</th>
        <th>借方計上部門</th>
    </tr>
    <tr>
        <td><input type="text" name="debit-account"></td>
        <td><input type="text" name="debit-sub-account"></td>
        <td><input type="text" name="debit-consumptiontax"></td>
        <td><input type="text" name="debit-department"></td>
    </tr>
</table>
<table>
    <tr>
        <th>借方金額</th>
        <th>借方取引先</th>
    </tr>
    <tr>
        <td><input type="text" name="debit-amount"></td>
        <td><input type="text" name="debit-company"></td>
    </tr>
</table>

{% endblock %}