{% extends "base.html" %}

{% block main %}

<div class="container mt-4">
<form action="/entry/entry/" method="POST">
    {% csrf_token %}
    <!-- 借方・貸方　共通 -->
    <div class="table">
        仕訳番号：<input type="text" name="je-number">
        <br>
        年度：<input type="text" name="annual">
        <br>
        計上年月日：<input type="text" name="accounting-date">
        <br>
        入力年月日：<input type="text" name="entry-date">
        <br>
        計上区分：<input type="text" name="enrty-type">
        <br>
    </div>
    <!-- 仕訳：1行目 -->
    <div>
        <p>仕訳1行目</p>
        仕訳行番号：<input type="text" name="je-row-number">
        <br>
        <!-- 借方 -->
        借方勘定科目：<input type="text" name="debit-account">
        <br>
        借方補助科目：<input type="text" name="debit-sub-account">
        <br>
        借方消費税区分：<input type="text" name="debit-consumptiontax">
        <br>
        借方計上部門：<input type="text" name="debit-department">
        <br>
        借方金額：<input type="text" name="debit-amount">
        <br>
        借方取引先：<input type="text" name="debit-company">
        <br>
        <!-- 貸方 -->
        貸方勘定科目：<input type="text" name="credit-account">
        <br>
        貸方補助科目：<input type="text" name="credit-sub-account">
        <br>
        貸方消費税区分：<input type="text" name="credit-consumptiontax">
        <br>
        貸方計上部門<input type="text" name="credit-department">
        <br>
        貸方金額：<input type="text" name="credit-amount">
        <br>
        貸方取引先：<input type="text" name="credit-company">
        <br>
        <!-- その他 -->
        摘要：<input type="text" name="description">
        <br>
    </div>

    <!-- 仕訳：2行目 -->
    <div>
        <p>仕訳2行目</p>
        仕訳行番号：<input type="text" name="je-row-number">
        <br>
        <!-- 借方 -->
        借方勘定科目：<input type="text" name="debit-account">
        <br>
        借方補助科目：<input type="text" name="debit-sub-account">
        <br>
        借方消費税区分：<input type="text" name="debit-consumptiontax">
        <br>
        借方計上部門：<input type="text" name="debit-department">
        <br>
        借方金額：<input type="text" name="debit-amount">
        <br>
        借方取引先：<input type="text" name="debit-company">
        <br>
        <!-- 貸方 -->
        貸方勘定科目：<input type="text" name="credit-account">
        <br>
        貸方補助科目：<input type="text" name="credit-sub-account">
        <br>
        貸方消費税区分：<input type="text" name="credit-consumptiontax">
        <br>
        貸方計上部門<input type="text" name="credit-department">
        <br>
        貸方金額：<input type="text" name="credit-amount">
        <br>
        貸方取引先：<input type="text" name="credit-company">
        <br>
        <!-- その他 -->
        摘要：<input type="text" name="description">
        <br>
    </div>

    <button type="button" onclick="submit();" class="btn btn-primary">仕訳の登録</button>
</form>
</div>

{% endblock %}