{% extends "base.html" %}

{% block main %}

<div class="container mt-4">
<form action="/entry/" method="POST">
    {% csrf_token %}
    <!-- 借方・貸方　共通 -->
    <div class="table">
        <table>
            <tr>
                <th>仕訳番号</th>
                <th>年度</th>
                <th>計上年月日</th>
                <th>計上区分</th>
            </tr>
            <tr>
                <td><input type="text" name="je-number"></td>
                <td><input type="text" name="annual"></td>
                <td><input type="text" name="accounting-date"></td>
                <td><input type="text" name="enrty-type"></td>
            </tr>
        </table>
    </div>
    <!-- 仕訳：1行目 -->
    <div>
        <h4>仕訳1行目</h4>
        <input type="hidden" name="je-row-number" value="1">
        <!-- 借方 -->
        <table>
            <tr>
                <th>借方勘定科目</th>
                <th>借方補助科目</th>
                <th>借方消費税区分</th>
                <th>借方計上部門</th>
                <th>借方金額</th>
                <th>借方取引先</th>
            </tr>
            <tr>
                <td><input type="text" name="debit-account"></td>
                <td><input type="text" name="debit-sub-account"></td>
                <td><input type="text" name="debit-consumptiontax"></td>
                <td><input type="text" name="debit-department"></td>
                <td><input type="text" name="debit-amount"></td>
                <td><input type="text" name="debit-company"></td>
                <input type="hidden" name="debit-credit" value="0">
            </tr>
        </table>
        <!-- 貸方 -->
        <table>
            <tr>
                <th>貸方勘定科目</th>
                <th>貸方補助科目</th>
                <th>貸方消費税区分</th>
                <th>貸方計上部門</th>
                <th>貸方金額</th>
                <th>貸方取引先</th>
            </tr>
            <tr>
                <td><input type="text" name="credit-account"></td>
                <td><input type="text" name="credit-sub-account"></td>
                <td><input type="text" name="credit-consumptiontax"></td>
                <td><input type="text" name="credit-department"></td>
                <td><input type="text" name="credit-amount"></td>
                <td><input type="text" name="credit-company"></td>
                <input type="hidden" name="debit-credit" value="1">
            </tr>
        </table>
        <!-- その他 -->
        摘要：<input type="text" name="description">
    </div>
    <hr>
    <!-- 仕訳：2行目 -->
    <div>
        <h4>仕訳2行目</h4>
        <input type="hidden" name="je-row-number" value="2">
        <!-- 借方 -->
        <table>
            <tr>
                <th>借方勘定科目</th>
                <th>借方補助科目</th>
                <th>借方消費税区分</th>
                <th>借方計上部門</th>
                <th>借方金額</th>
                <th>借方取引先</th>
            </tr>
            <tr>
                <td><input type="text" name="debit-account"></td>
                <td><input type="text" name="debit-sub-account"></td>
                <td><input type="text" name="debit-consumptiontax"></td>
                <td><input type="text" name="debit-department"></td>
                <td><input type="text" name="debit-amount"></td>
                <td><input type="text" name="debit-company"></td>
                <input type="hidden" name="debit-credit" value="0">
            </tr>
        </table>
        <!-- 貸方 -->
        <table>
            <tr>
                <th>貸方勘定科目</th>
                <th>貸方補助科目</th>
                <th>貸方消費税区分</th>
                <th>貸方計上部門</th>
                <th>貸方金額</th>
                <th>貸方取引先</th>
            </tr>
            <tr>
                <td><input type="text" name="credit-account"></td>
                <td><input type="text" name="credit-sub-account"></td>
                <td><input type="text" name="credit-consumptiontax"></td>
                <td><input type="text" name="credit-department"></td>
                <td><input type="text" name="credit-amount"></td>
                <td><input type="text" name="credit-company"></td>
                <input type="hidden" name="debit-credit" value="1">
            </tr>
        </table>
        <!-- その他 -->
        摘要：<input type="text" name="description">
        <br>
    </div>
    <hr>
 
    <button type="button" onclick="submit();" class="btn btn-primary">仕訳の登録</button>
</form>
</div>

<hr>
<p>ドロップダウンリストのテスト</p>
{% for field in form %}

{{ field }}

{% endfor %}


{% endblock %}
