{% extends "base_entry.html" %}

{% block main %}

<h3><font color="red">{{ error_message }}</font></h3>

<div class="journal-entry-form">
    <form action="/entry/test" method="POST">
        {% csrf_token %}
        <!-- 借方・貸方　共通 -->
        <div class="table">
            <table class="je-header">
                <tr>
                    <td class="je-header-content">仕訳番号</td>
                    <td class="je-header-content">年度</td>
                    <td class="je-header-content">計上年月日</td>
                    <td class="je-header-content">計上区分</td>
                </tr>
                <tr>
                    <td><input type="text" name="je-number" value="{{ value.je_number }}"></td>
                    <td><input type="text" name="annual" value="{{ value.annual }}"></td>
                    <td><input type="text" name="accounting-date" value="{{ value.accounting_date }}"></td>
                    <td><input type="text" name="entry-type" value="{{ value.entry_type }}"></td>
                </tr>
            </table>
        </div>

        <!-- 仕訳 -->
        <div class="je-container">
            {% for account in accounts %}
            <div class="table-left">
                <!-- <h3>借方：Debit</h3> -->
                <table>
                    <tr>
                        <td class="rep-debit-credit">借方</td>
                    </tr>
                    <tr>
                        <td class="je-header-content">勘定科目</td>
                        <td class="je-header-content">補助科目</td>
                        <td class="je-header-content">消費税区分</td>
                        <td class="je-header-content">計上部門</td>
                        <td class="je-header-content">金額</td>
                        <td class="je-header-content">取引先</td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="debit-account" value="{{ value.debit_account1 }}">{{ account }}</td>
                        <td><input type="text" name="debit-sub-account" value="{{ value.debit_sub_account1 }}"></td>
                        <td><input type="text" name="debit-consumptiontax" value="{{ value.debit_consumptiontax1 }}"></td>
                        <td><input type="text" name="debit-department" value="{{ value.debit_department1 }}"></td>
                        <td><input type="number" name="debit-amount" id="je1-debit" value="{{ value.debit_amount1 }}"></td>
                        <td><input type="text" name="debit-company" value="{{ value.debit_company1 }}"></td>
                        <input type="hidden" name="je-row-number" value="1">
                        <input type="hidden" name="debit-credit" value="0">
                    </tr>
                    <tr>
                        <td><input type="hidden" name="debit-account" value="{{ value.debit_account2 }}">{{ account }}</td>
                        <td><input type="text" name="debit-sub-account" value="{{ value.debit_sub_account2 }}"></td>
                        <td><input type="text" name="debit-consumptiontax" value="{{ value.debit_consumptiontax2 }}"></td>
                        <td><input type="text" name="debit-department" value="{{ value.debit_department2 }}"></td>
                        <td><input type="number" name="debit-amount" id="je1-debit" value="{{ value.debit_amount2 }}"></td>
                        <td><input type="text" name="debit-company" value="{{ value.debit_company2 }}"></td>
                        <input type="hidden" name="je-row-number" value="2">
                        <input type="hidden" name="debit-credit" value="0">
                    </tr>
                    <tr>
                        <td><input type="hidden" name="debit-account" value="{{ value.debit_account3 }}">{{ account }}</td>
                        <td><input type="text" name="debit-sub-account" value="{{ value.debit_sub_account3 }}"></td>
                        <td><input type="text" name="debit-consumptiontax" value="{{ value.debit_consumptiontax3 }}"></td>
                        <td><input type="text" name="debit-department" value="{{ value.debit_department3 }}"></td>
                        <td><input type="number" name="debit-amount" id="je1-debit" value="{{ value.debit_amount3 }}"></td>
                        <td><input type="text" name="debit-company" value="{{ value.debit_company3 }}"></td>
                        <input type="hidden" name="je-row-number" value="3">
                        <input type="hidden" name="debit-credit" value="0">
                    </tr>
                    <tr>
                        <td><input type="hidden" name="debit-account" value="{{ value.debit_account4 }}">{{ account }}</td>
                        <td><input type="text" name="debit-sub-account" value="{{ value.debit_sub_account4 }}"></td>
                        <td><input type="text" name="debit-consumptiontax" value="{{ value.debit_consumptiontax4 }}"></td>
                        <td><input type="text" name="debit-department" value="{{ value.debit_department4 }}"></td>
                        <td><input type="number" name="debit-amount" id="je1-debit" value="{{ value.debit_amount4 }}"></td>
                        <td><input type="text" name="debit-company" value="{{ value.debit_company4 }}"></td>
                        <input type="hidden" name="je-row-number" value="4">
                        <input type="hidden" name="debit-credit" value="0">
                    </tr>
                    <tr>
                        <td><input type="hidden" name="debit-account" value="{{ value.debit_account5 }}">{{ account }}</td>
                        <td><input type="text" name="debit-sub-account" value="{{ value.debit_sub_account5 }}"></td>
                        <td><input type="text" name="debit-consumptiontax" value="{{ value.debit_consumptiontax5 }}"></td>
                        <td><input type="text" name="debit-department" value="{{ value.debit_department5 }}"></td>
                        <td><input type="number" name="debit-amount" id="je1-debit" value="{{ value.debit_amount5 }}"></td>
                        <td><input type="text" name="debit-company" value="{{ value.debit_company5 }}"></td>
                        <input type="hidden" name="je-row-number" value="5">
                        <input type="hidden" name="debit-credit" value="0">
                    </tr>
                    <tr>
                        <td>摘要：<input type="text" name="description" value="{{ value.description1 }}"></td>
                    </tr>
                </table>
            </div>
            <!-- <hr> -->
            <div>
                <div class="table-right">
                    <!-- <h3>貸方：Credit</h3> -->
                    <table>
                        <tr>
                            <td class="rep-debit-credit">貸方</td>
                        </tr>
                        <tr>
                            <td class="je-header-content">勘定科目</td>
                            <td class="je-header-content">補助科目</td>
                            <td class="je-header-content">消費税区分</td>
                            <td class="je-header-content">計上部門</td>
                            <td class="je-header-content">金額</td>
                            <td class="je-header-content">取引先</td>
                        </tr>
                        <tr>
                            <td><input type="hidden" name="credit-account" value="{{ value.credit_account1 }}">{{ account }}</td>
                            <td><input type="text" name="credit-sub-account" value="{{ value.credit_sub_account1 }}"></td>
                            <td><input type="text" name="credit-consumptiontax" value="{{ value.credit_consumptiontax1 }}"></td>
                            <td><input type="text" name="credit-department" value="{{ value.credit_department1 }}"></td>
                            <td><input type="number" name="credit-amount" id="je1-debit" value="{{ value.credit_amount1 }}"></td>
                            <td><input type="text" name="credit-company" value="{{ value.credit_company1 }}"></td>
                            <input type="hidden" name="je-row-number" value="1">
                            <input type="hidden" name="debit-credit" value="1">
                            </tr>
                        <tr>
                            <td><input type="hidden" name="credit-account" value="{{ value.credit_account2 }}">{{ account }}</td>
                            <td><input type="text" name="credit-sub-account" value="{{ value.credit_sub_account2 }}"></td>
                            <td><input type="text" name="credit-consumptiontax" value="{{ value.credit_consumptiontax2 }}"></td>
                            <td><input type="text" name="credit-department" value="{{ value.credit_department2 }}"></td>
                            <td><input type="number" name="credit-amount" id="je1-debit" value="{{ value.credit_amount2 }}"></td>
                            <td><input type="text" name="credit-company" value="{{ value.credit_company2 }}"></td>
                            <input type="hidden" name="je-row-number" value="2">
                            <input type="hidden" name="debit-credit" value="1">
                        </tr>
                        <tr>
                            <td><input type="hidden" name="credit-account" value="{{ value.credit_account3 }}">{{ account }}</td>
                            <td><input type="text" name="credit-sub-account" value="{{ value.credit_sub_account3 }}"></td>
                            <td><input type="text" name="credit-consumptiontax" value="{{ value.credit_consumptiontax3 }}"></td>
                            <td><input type="text" name="credit-department" value="{{ value.credit_department3 }}"></td>
                            <td><input type="number" name="credit-amount" id="je1-debit" value="{{ value.credit_amount3 }}"></td>
                            <td><input type="text" name="credit-company" value="{{ value.credit_company3 }}"></td>
                            <input type="hidden" name="je-row-number" value="3">
                            <input type="hidden" name="debit-credit" value="1">
                        </tr>
                        <tr>
                            <td><input type="hidden" name="credit-account" value="{{ value.credit_account4 }}">{{ account }}</td>
                            <td><input type="text" name="credit-sub-account" value="{{ value.credit_sub_account4 }}"></td>
                            <td><input type="text" name="credit-consumptiontax" value="{{ value.credit_consumptiontax4 }}"></td>
                            <td><input type="text" name="credit-department" value="{{ value.credit_department4 }}"></td>
                            <td><input type="number" name="credit-amount" id="je1-debit" value="{{ value.credit_amount4 }}"></td>
                            <td><input type="text" name="credit-company" value="{{ value.credit_company4 }}"></td>
                            <input type="hidden" name="je-row-number" value="4">
                            <input type="hidden" name="debit-credit" value="1">
                        </tr>
                        <tr>
                            <td><input type="hidden" name="credit-account" value="{{ value.credit_account5 }}">{{ account }}</td>
                            <td><input type="text" name="credit-sub-account" value="{{ value.credit_sub_account5 }}"></td>
                            <td><input type="text" name="credit-consumptiontax" value="{{ value.credit_consumptiontax5 }}"></td>
                            <td><input type="text" name="credit-department" value="{{ value.credit_department5 }}"></td>
                            <td><input type="number" name="credit-amount" id="je1-debit" value="{{ value.credit_amount5 }}"></td>
                            <td><input type="text" name="credit-company" value="{{ value.credit_company5 }}"></td>
                            <input type="hidden" name="je-row-number" value="5">
                            <input type="hidden" name="debit-credit" value="1">
                        </tr>
                    </table>
                </div>
            </div>
        {% endfor %}
        </div>
        <hr>
        <input type="hidden" name="debit-account" value="">
        <input type="hidden" name="credit-account" value="">
    
        <button type="submit" id="btn-submit" class="btn btn-primary">仕訳の登録</button>
        </form>
</div>

{% endblock %}
