.table {
    display: table;
}

.tr {
    display: table-row;
}

.th {
    display: table-header-group;
    text-align: right;
}

.td {
    display: table-cell;
    text-align: right;
    width: 15%;
}

.td-left {
    text-align: left;
    text-indent: 2rem;
}

.td input {
    border-radius: 3px;
    border: 2px solid #ddd;
}

.base {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 30vw;
}

.debit-side {
    width: 50%;
}

.credit-side {
    display: flex;
    flex-direction: column;
    width: 50%;
}